
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

/* ________________________________ */
/* BODY AND BACKGROUNDS */
body{
  font-size: 16px;
	background-image: url(./images/tictac.png);
  font-family: 'Libre Franklin', sans-serif;
  line-height: 2.5em;
  letter-spacing: 5px;
  padding-left: 1em;
}
.main-wraper{
  display: 'flex';
  flex-direction: 'column'; 
  flex-wrap: wrap;
  top: 0; 
  padding-left: 1em; 
}
.allProjects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-around;
}
.img_link{
	height: 20em;
	width: auto;
}


/* ________________________________ */
/* NAME AND TITLE AND BUTTONS */
.header-title {
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  font-weight: bold;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 1.5em;
  font-size: 3.2em;
  color: #404040;

      padding-bottom: 3em;
}
.name {
  display: none;
}
h2{
  font-size: 1em;
  color: black;
}
.header-title button{
  background: #FFD3DA;
  text-shadow: 1px 1px rgb(245, 128, 147);
  border: 0px;
  border-radius: .2em;
  font-size: .8em;
  color: black;
  padding: .3em 1.8em .3em 1.8em;
  letter-spacing: .2em;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.resume{
  margin: .3em;
}
.header-title button:hover{
  opacity: 0.8;
}
.header-title button a{
font-family: 'Libre Franklin', sans-serif;
  font-size: .8em;
  color:black;
  text-decoration: none;

}


/* ________________________________ */
/* NAV BAR LINKS */
nav{
  display: flex;
  justify-content: flex-end;
  top: 0;
  position: sticky;
}
nav li{
  display: inline-block;
  cursor: pointer;
    top: 0;
}
nav li .link{
  text-decoration: none;
  font-size: 2em;
  color: black;
  padding:1em;
  opacity: .8;
    top: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

li .link:hover{
  opacity: 1;
}
.active{
  color:black;
  opacity: 1;
}



/* ________________________________ */
/* ABOUT SECTION */
.about{
  display: flex;
  flex-direction: column;

}
.allProjects{
  display: flex;
  flex-direction: row;
}
.about-content h1{
  font-family: 'Open Sans Condensed', 'sans-serif';
  padding-top: 4em;
  font-size: 5em;
  text-align: left;
}
.about-content p{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.5em;
  padding-bottom: 10em;
}
.img{
  display: flex;
  justify-content: center;
}
.picture{
	border: 0.1em solid black;
	height: 55em;
  width: auto;
}


/* BANGAZON INFORMATION */
.work-heading{
  font-family: 'Open Sans Condensed', 'sans-serif';
  font-size: 5em;
  text-align: left;
  font-weight: bold;
  padding-bottom: .5em;
}
.intro{
  font-weight: bold;
  display: flex;
  flex-direction: row;

}
.intro-content{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.5em;
  padding-bottom: 10em;
}
.project_container{
  display: flex;
  flex-direction: row; 
  align-items: center;
  width: fit-content;

}

.img_link{
  display: flex;
  width: auto;  
  height: 28em;
  flex-direction: row;
  justify-content: space-around;
    padding: 1em;
}
.img_block{
  display: flex;
    flex-direction: column;
  align-items: center;
}
.service{
  font-size: 1.2em;
  font-weight: lighter;
}
.project_title{
  font-size: 1.5em;
}
/* FOOTER AND CONTACT INFORMATION */
.contact{
  position: relative;
  top:35em;
  left:5em;
  text-align: left;
}
.contact h1{
  font-family: 'oswald';
  line-height: 1em;
  font-size: 5em;
  text-align: left;
}
.amazing-color{
  color:#FFD3DA;
    line-height: 1em;

  text-shadow: 1px 1px rgb(245, 128, 147);
}
.contact .email{
  color:#404040;
  font-size: 2.5em;
}
.contact li{
  display: inline-block;
  margin-top:0;
  margin-bottom: 0;
  margin-right: 1em;
  margin-left: 0;
  font-size: 2em;
}
.contact li a{
  text-decoration: none;
  color:#404040;
}
.footer{
  position: relative;
  top:2em;
  padding: 1em;
}
.footer a{
  text-decoration: none;
  color:#FFD3DA;
}





/* SMARTPHONES PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width : 480px){
  
/* BODY AND BACKGROUNDS */
body{
  font-size: 6px;
}

/* NAME AND TITLE AND BUTTONS */
header h1{
 display: flex;
 font-size: 4em;  
 justify-content: center;
 opacity: 0.8;
}
.header-title button:hover{
  opacity: 0.8;
}
.header-title button a{

  font-size: 1.8em;
  color:black;
  text-decoration: none;
}
.name{
  display: flex;
  align-self: center;
}
nav{
  display: none;
}
.header-title{
  font-size: 3em;
  text-align: left;
  top:1em;
  left: 0.1em;
}
.about{
  position: relative;
  display: flex;
  top:-30em;
}
.picture{
	margin-left: -30em;
  border: 0.1em solid black;
  margin-top: 52em;
	height: 50em;
	width: auto;
}
.about-content{
  left:2em;
}
.about-content p{
  font-size: 2.5em;
  font-family: 'Oswald';
  text-align: left;
  width: 450px;
}
.workBg{
  top: 2em;
  padding-left: 2em;
  min-width: 600px;
}
/* BANGAZON INFORMATION */
.intro-content{
  display: flex;
  align-self: left;
  font-size: 2.5em;
  width: 440px;
}
.work{
  left:0em;
  top:2em;
  padding-bottom: 2em;
  align-items: flex-start;
}
.work-content{
  display: flex;
  flex-direction: column;
}
.intro-content{
  display: 'flex';
  flex-direction: 'column'; 
  flex-wrap: wrap;

  font-size: 2em;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.project_container{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
}
.project{
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 44em;
}
.project_img{
  display: flex;
  width: auto;  
  height: 20em;
  flex-direction: row;
  justify-content: space-around;
}
.pic_under{
  text-align: center;
}
.service{
  font-size: 1.5em;
  font-weight: lighter;
}
.project_title{
  font-size: 1.8em;
}
/* FOOTER AND CONTACT INFORMATION */
.contact{
  top:15em;
  left:2em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 4em;
}
.social{
  display: flex;
  flex-direction: row;
}
.contact li{
  padding: 1em;
}
.contact li a{
  font-size: 2em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 2em;
}

}
